.category-container {
  text-align: center;
  padding: 20px;
}

.category-topic h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;

}

.category-buttons {
  display: flex;
  justify-content: center;
}



.category-buttons a {
  text-decoration: none;
  font-size:25px ;
  margin: 20px;
  border-radius: 20px;
}

.category-buttons a:hover{
  transform: scale(1.04);
}